* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: 0;
	outline: none;
	font-size: 1em;
}

a:hover {
    text-decoration: underline;
}
/* http://orderedlist.com/articles/thining-text-in-safari-under-snow-leopard */

body {
	-webkit-text-stroke:1px transparent;
	font-family: "Lucida Grande", "Helvetica", sans-serif;
	font-size: 16px;
}

@media only screen and (max-device-width:480px) {
	body {
		-webkit-text-stroke:0 black;
	}
}

#topbar {
	border-top: 8px solid #606060;
	border-bottom: 1px solid #101010;
	height: 0px;
}
#bottombar {
	border-bottom: 8px solid #606060;
	border-top: 1px solid #101010;
	height: 0px;
}

#wrapper {
	width: 940px;
	margin: 0 auto;
	padding: 80px 8px 40px;
	overflow: hidden;
}

.header {
    float: left;
    width: 204px;
    clear: both;
    text-transform: uppercase;
    padding: 0 16px 0 0;
    font-size: 26px;
    font-family: Helvetica;
    color: #A0A0A0;
}

.content {
    float: right;
    width: 460px;
    margin-right: 240px;
    margin-left: -32px;
    padding-left: 12px;
    position: relative;
    margin-bottom: 24px;
}

h2 {
    margin: 0 0 1em;
}

ul {
}

ul li {
    position: relative;
    margin: 0 0 8px;
    line-height: 18px;
}

ul li.last {
    margin: 0;
}

small {
     position: absolute;
     left: 480px;
     top: 0;
     width: 240px;
     color: #707070;
/*     text-transform: uppercase;*/
/*     font-size: 14px;*/
/*     line-height: 24px;*/
}

.block-intro {
    border-left: 20px solid #F5EE4F;
}
.block-projects {
    border-left: 20px solid #A957C8;
}
.block-code {
    border-left: 20px solid #6CC071;
}
.block-blog {
    border-left: 20px solid #DB6E00;
}
.block-twitter {
    border-left: 20px solid #32BEBC;
}