* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: 0;
	outline: none;
	font-size: 1em;
}

a, a:visited, a:link {
    color: #3E5EA5;
}

a:hover,
.header.hover .header-text a,
.name-header a:hover,
.content li.hover a,
.content small a:hover {
    color: #162464;
}
/* http://orderedlist.com/articles/thining-text-in-safari-under-snow-leopard */

body {
	-webkit-text-stroke:1px transparent;
/*  background: white url('/static/images/400bg.png') repeat-y 0 0; */
	font-family: "Whitney A", "Whitney B", "Lucida Grande", "Helvetica", sans-serif;
	font-size: 16px;
}

@media only screen and (max-device-width:480px) {
	body {
		-webkit-text-stroke:0 black;
	}
}

#topbar {
    height: 10px;
    z-index: 1;
    position: relative;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, #1A1A1A),
        color-stop(0.92, #4A4A4A)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #1A1A1A 9%,
        #4A4A4A 92%
    );
}
#bottombar {
    height: 10px;
    z-index: 1;
    position: relative;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, #1A1A1A),
        color-stop(0.92, #4A4A4A)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #1A1A1A 9%,
        #4A4A4A 92%
    );
}

#wrapper {
    width: 990px;
    margin: 0 auto;
    padding: 80px 0 40px;
    position: relative;
}
#wrapper.subview {
    padding: 140px 0 140px;
}

#nav {
    position: absolute;
    top: 30px;
    left: 0px;
    color: #A0A0A0;
    text-transform: uppercase;
    z-index: 1;
    font-size: 18px;
}

#bottom_nav {
    position: absolute;
    bottom: 50px;
    left: 0px;
    color: #A0A0A0;
    text-transform: uppercase;    
    z-index: 1;
    font-size: 18px;
}

.background {
    position: fixed;
    width: 30%;
    background-color: #ECECEC;
    border-right: 2px solid #CECECE;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}
.background-inner {
    width: 280px;
    position: absolute;
    background-color: #ECECEC;
    border-right: 1px solid #CECECE;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}
.background-outer {
    width: 5000px;
    position: absolute;
    background-color: #ECECEC;
    top: 0;
    right: 100%;
    bottom: 0;
    z-index: 0;
}

/* ========== */
/* = Header = */
/* ========== */

.name-header {
    margin: 0 0 24px;
    padding: 0 0 18px;
/*     border-bottom: 6px solid #4A6FC0; */
    color: #404040;
    font-size: 42px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #DFDFDF;
    position: relative;
    z-index: 1;
}

.name-header a {
    display: block;
    float: left;
    width: 266px;
    text-align: right;
    margin: 0 30px 0 0 ;
}

.name-header-text {
  line-height: 54px;
  padding-left: 296px;
}

.header {
    float: left;
    width: 260px;
    text-align: right;
    clear: both;
    text-transform: uppercase;
    margin: 0 12px 0 0;
    font-size: 20px;
    color: #D0D0D0;
    font-weight: bold;
    text-shadow: 1px 1px 0 #F6F6F6;
    position: relative;
    z-index: 1;
}

.header .title {
    color: #606060;
    font-weight: bold;
}
.header .subtitle {
    font-size: 18px;
}
.header .header-photo img {
    margin: 12px auto;
    border: 1px solid #303030;
}


.header .header-photo.header-photo-borderless img {
    border: none;
}

/* ========== */
/* = Blocks = */
/* ========== */

.block-intro {
    border-left: 20px solid #0B455F;    
}
.block-photo {
    border-left: 20px solid #054960;
}
.block-work {
    border-left: 20px solid #05485F;
}
.block-projects {
    border-left: 20px solid #054C57;
}
.block-past-projects {
    border-left: 20px solid #054E54;
}
.block-code {
    border-left: 20px solid #05524E;
}
.block-photos {
    border-left: 20px solid #055547;
}
.block-blog {
    border-left: 20px solid #065745;
}
.block-twitter {
    border-left: 20px solid #055A3E;
}
.block-press {
    border-left: 20px solid #065E39;
}


.content.block-photos {
    width: 700px;
    margin-right: 0px;
}
.block-photos.img-75 img {
    width: 75px;
    height: 75px;
}

.block-photos table {
    overflow: hidden;
}

.block-photos .setThumbs-indv {
    padding: 0 12px 12px 0;
    float: left;
}

.block-photos .setThumbs-indv.first {
    clear: both;
}
.block-photos .setThumbs-indv.last {
    padding-bottom: 0;
}

img {
    border: 1px solid #909090;
}

.block-caselife img {
    margin-bottom: 12px;
}
.block-caselife img.last {
    margin-bottom: 0;
}

/* =========== */
/* = Content = */
/* =========== */

.block-press strong img,
.favicon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: -4px;
    border: none;
}

strong {
    display: block;
    font-size: 22px;
}
.block-blog strong {
    font-size: 18px;
}
.block-press strong {
    font-size: 18px;
    display: inline;
}
.desc {
    margin: 0 0 64px;
}


.content {
    width: 454px;
    margin: 0 260px 54px 312px;
    padding-left: 32px;
    position: relative;
}

.content .screenshot {
    width: 450px;
    margin: 18px 0;
}
h2 {
    margin: 0 0 1em;
}

ul {
}

ul li {
    position: relative;
    margin: 0 0 24px;
    line-height: 21px;
    color: #383838;
    font-size: 17px;
}
.block-twitter ul li,
.block-blog ul li,
.block-press ul li {
    margin-bottom: 12px;
}
ul li:last-child {
    margin: 0;
}
ul li:last-child img.screenshot {
/*    margin-bottom: 0;*/
}

small {
     position: absolute;
     left: 520px;
     top: 0;
     width: 180px;
    font-size: 16px;
}
small, small a, small a:link, small a:visited {
     color: #A6A6A6;
}
.github {
    text-transform: uppercase;
    font-size: 13px;
}
