Saturday
 October 8, 2022

Reno, NV, USA

372 DAYS 14 HRS 43 MINS AGO

Don’t Forget to RSVP

Story

It all started in a theatre. In Eldred’s black box, following a rehearsal, Sam revealed that freshman year he lived directly below Brittany in Hitchcock. Brittany was embarrassed she didn’t remember. Sam remembered, particularly the 5am speech and debate tournament wake-up calls Brittany made on his roomate.

A few weeks later, walking through the Smithsonian art galleries during a Fall break trip to D.C., Brittany decided Sam was ‘intriguing,’ which she admitted to her friend Erin after a night of evidently not so subtle flirting. On the bus ride back she lent him a white fuzzy pillow to sleep on, but she kept her blanket.

Back to the play. Under a week until the curtain opened and Sam was having difficulty convincingly performing a troublesome monologue in the Neil Simon play Rumors. Brittany took him upstairs for some one-on-one coaching (no really she was just leading him through some acting exercises) and gave him what Sam calls the first of many epiphanies. He felt she was intriguing too.

Rumors opened to great critical acclaim. A halloween party found the two of them together, both intrigued, but also too smart to give-in to the idea they should date. It was impractical. Afterall, it was eight months until graduation.

Adventures ensued. Long snowy drives down Mayfield to take night photos. A trip to NYC for the Armory Show. Eventually, Sam asked if Brittany would want to come with him for the summer to Seattle for his internship. “Sure! Why not?” she replied, and she’s been saying that ever since. From Cleveland to Seattle, to New York to San Francisco, to Cambridge to Shutesbury, the two of them have continued to say yes to more adventures with the intriguing and impractical person they had fallen in love with. Sam still gets the pillows, and Brittany hogs the blanket, so not much has changed.

Tidbits

What was the proposal like?

The week before Brittany's graduation from grad school, she and Sam spent four days camping in Acadia National Park. The morning of their last day, they awoke before dawn to catch the sunrise. Maine is home to the first sunrise in America, and on the morning of Monday, May 27th, 2019, standing on two of the many rocks filling the shoreline, Sam asked Brittany to marry him.

After 13 years of courtship, these two Ohioans will enter into a lifelong commitment to each other.

Where are you going for your honeymoon?

Hitting the road and heading to Mt. Zion National Park, where we'll hike the heavens on Angel's Landing, and ford the river in the Narrows.

On the way we'll stop at the Spiral Jetty, Robert Smithson's monumental 1970 land art, on the Great Salt Lake in Utah.

Will the guinea pigs be at the wedding?

In spirit, yes. And possibly in telecast.

What kept you two together for so long?

We each feel like we got the better end of the deal.

Where will you meet when you come back as ghosts?

If we’re not reincarnated as guinea pigs? The labyrinth at Land’s End in San Francisco fits the bill.

What is the most death-defying thing you’ve done together?

It may be the regular trips to Burning Man or the leaps across the void on Land’s End off-the-grid hippie trail. It could also be one of our Boris the Buick all-terrain adventures. But it’s probably sleeping outdoors in Yosemite in mid-October just hanging out with real actual bears.

What’s your favorite thing about each other?

Sam is a ball of creative and inspirational energy.
Brittany’s got this uncanny ability to fix any problem.

Why did it take 13 years to get engaged?

What’s the hurry? It seemed practical to really, really make sure it wasn’t just an elaborate ruse. There’s no way two people could actually be this perfect for each other. We met in the theatre afterall.

Schedule

Friday October 7, 2022

Welcome Reception

6:00 PM


Add to Calendar
You've just made it to Reno, come have cocktails, dinner, and doughnuts on the river. Later when the Sun sets, we'll play bocce ball and skee-ball at Bundox til late.

Cocktail
Renaissance Reno Downtown Hotel, Lake Street, Reno, NV, USA
Saturday October 8, 2022

Wedding Ceremony & Reception

5:00 PM


Add to Calendar
We're getting married! The museum opens at 4:30pm and the ceremony begins on the rooftop at 5pm.

Formal
Nevada Museum of Art, West Liberty Street, Reno, NV, USA
After Party

10:00 PM


Add to Calendar
It's party time! We got the penthouse suite at the Peppermill — join us for drinks and apple cider doughnuts! Limousine shuttle runs between the museum, the Peppermill, and the Renaissance until 3am.

Festival
Peppermill Resort Spa Casino, South Virginia Street, Reno, NV, USA
Sunday October 9, 2022

Lake Tahoe Beach Picnic

12:00 PM


Add to Calendar
Let's meet the day after the wedding and have a beach day on Lake Tahoe. We'll be at Sand Harbor Beach, a state park on the Nevada side. Come at Noon for lunch. We'll play beach games and wade into the blue water.

Outdoors
Sand Harbor Beach, Nevada, USA

Travel

Getting In

We recommend flying into Reno-Tahoe International Airport. If you fly into Sacramento you can save a bit and it's only a two hour drive.

Getting Around

We'll have a shuttle whisk us from the Nevada Museum of Art to the Peppermill for the after party. Downtown Reno itself is fairly walkable, and there is uber and lyft from the Reno/Tahoe International Airport that should only cost $15 to get into downtown.

If you're staying at the Renaissance Hotel, it's a 9 minute walk and you'll be able to walk back and forth to the Nevada Museum of Art. If you're staying at the Peppermill Hotel, you'll need to take a car to get around, but we'll be able to shuttle you back to the hotel after the wedding.

You will need a rental car if you want to drive up to the mountains and over to Tahoe (which you'll want to do if you're joining us for the Sunday festivities). We recommend carpooling with friends. There is a Hertz and Enterprise rental center in downtown Reno if you want to wait to pick up a rental car for when you need it.


enterprise.com
775-322-4755
407 N Virginia St, Reno, NV 89501
Renaissance Reno Downtown Hotel, Lake Street, Reno, NV, USA

We have a block of hotel rooms reserved at the Renaissance Reno Downtown for $179/night. Use the link below to book a room in our block.

The hotel is on the Truckee River and an easy walk to most downtown locations, including the Nevada Museum of Art. This is where the welcome reception will be held on Friday, October 7th.

With your reservation you also get discounted $10 parking at the hotel (do note that you do have to pay for your parking if staying here). It has a pool, spa, fitness room, and a very fun bar with bocce courts and skee-ball!

marriott.com/events/start.mi
775-682-3900
One South, Lake St, Reno, NV 89501, USA
Our Favorite Restaurants

Two Chicks - Best breakfast in Reno!
Centro Reno - Delicious tapas and cocktails with a nice plant-based section of the menu
Great Full Gardens - Good for casual brunch, lunch or dinner. Huge portions in a hippie like diner.
Brasserie St. James - Local brew-pub with nice contemporary fare.
Old Granite Street Eatery - Elevated comfort food with great cocktails.
House of Mexica - Delicious plant-based Mexican fare
Peppermill Resort Spa Casino, South Virginia Street, Reno, NV, USA

We’ve rented the penthouse suite here for the wedding after-party! if you want a more Reno-tastic experience and to stay near where we’ll end up after the reception book a room here. We’ll have a shuttle bus to bring people back here from the museum.


peppermillreno.com
800-648-6992
2707 S Virginia St, Reno, NV 89502, USA
Q & A

What happened to 10/10/2020?

We didn't want to try and have a big party during the middle of a global pandemic, particularly since it would mean so many people we love couldn't be with us to celebrate.

On 10/10/2020 we were married in a small ceremony at our home in Shutesbury, MA. We can't wait to now have a huge celebration with everyone!

When is the RSVP deadline?

Please RSVP no later than August 1st, 2022.

Can I bring a date?

Yes! Please bring your significant other—you're going to need a dance partner.

Are kids welcome?

Yes, please bring them. Avery will be there! We will have child care available during the reception, just let us know when you RSVP.

What time should I arrive?

Please arrive by 4:30pm. The ceremony begins at 5pm.

Where should I park?

For the welcome reception on Friday, there's paid parking options at the Renaissance, but either way we recommend taking a car share.

For the wedding on Saturday, parking by the museum is pretty easy and free. We recommend taking a Lyft or Uber from the Peppermill Hotel.

For the brunch on Sunday, parking is $15 by the beach. You can park for free on the side of the road and walk a bit.

What should I wear?

Attire for the welcome reception is casual cocktail. Attire for the reception is formal but feel free to bring a change of clothes for the after party. Sunday is casual/hiking attire, although it can be breezy on the beach, so plan for how to stay warm.

What kind of shoes should/shouldn't I wear?

You're going to be dancing all night, so wear what makes you feel fabulous! If you think heels are a tool of the patriarchy, please feel free to wear flats! If you feel most empowered when you're killing it in stilettos that could double for daggers, do it up! Just don't skewer any barefooted friends as you're swirling around the dance floor.

Registry

Your presence is enough of a present to us! We know that traveling to an wedding is expensive, what we want most is getting to celebrate with you. But for those of you who are stubborn, we've put together a wish-list to help you out.

Browse Our Registry
