<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {% block meta %}{% endblock meta %}
    <title>{% block title %}Samuel Clay{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>

    <!-- Early theme initialization to prevent flash -->
    <script>
        (function() {
            const savedTheme = localStorage.getItem('theme') || 'auto';
            document.documentElement.setAttribute('data-theme', savedTheme);
        })();
    </script>

    {% block scripts %}
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6565292/759324/css/fonts.css" />
        <link rel="stylesheet" href="/static/styles/global.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript" charset="utf-8" defer></script>
        <script src="/static/scripts/border-art-webgl.js" type="text/javascript" charset="utf-8" defer></script>
        <script src="/static/scripts/image-hover.js" type="text/javascript" charset="utf-8" defer></script>
        <script src="/static/scripts/samuelclay.js" type="text/javascript" charset="utf-8" defer></script>
    {% endblock scripts %}
    
</head>

<body>
    {% block content %}
    {% endblock %}
    
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-16007470-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>
