{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    
    <div id="nav">
      &laquo; <a href="{% url "index" %}" class="subtitle">Back to Everything</a>
    </div>
      
    <div class="header">
      <div class="title">The Brain Explorer</div>
    </div>
    <div class="content block-intro">
        <ul>
            <li class="last">
                In high school, I led an international team to build this educational site. Won as a semi-finalist in the ThinkQuest 2001 competition.
                <small>1999 - 2001</small>
            </li>
        </ul>
    </div>
    
    <div class="header">Landing</div>
    <div class="content block-projects">
      <img src="/static/images/brainexplorer.png" width="575" />
    </div>
    
    <div class="header">Home</div>
    <div class="content block-projects">
      <img src="/static/images/brainexplorer_home.png" width="575" />
    </div>
    
    
    <div class="header">The Whole Brain</div>
    <div class="content block-code">
      <img src="/static/images/brainexplorer_brain.png" width="575" />
    </div>
    
    
    <div class="header">The Whole Mind</div>
    <div class="content block-blog">
      <img src="/static/images/brainexplorer_mind.png" width="575" />
    </div>
    
    <div class="header">About</div>
    <div class="content block-twitter">
      <img src="/static/images/brainexplorer_about.png" width="575" />
    </div>
    
    
    <div class="header">Team</div>
    <div class="content block-press">
      Samuel Clay (Robert Klayman), Tina Do, Ivy Chung
    </div>
    
    <div id="bottom_nav">
      &laquo; <a href="{% url "index" %}" class="subtitle">Back to Everything</a>
    </div>

    <div class="background-inner"></div>
    <div class="background-outer"></div>
    
</div>

<div id="bottombar"></div>
{% endblock %}