{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    <a href="/" class="back-button">← Back to Everything</a>

    <div class="project-detail-header">
        <h1>The Brain Explorer</h1>
        <p class="project-description">In high school, I led an international team to build this educational site. Won as a semi-finalist in the ThinkQuest 2001 competition.</p>
        <small>1999 - 2001</small>
    </div>

    <div class="project-screenshots">
        <img src="/static/images/brainexplorer.png" />
        <img src="/static/images/brainexplorer_home.png" />
        <img src="/static/images/brainexplorer_brain.png" />
        <img src="/static/images/brainexplorer_mind.png" />
        <img src="/static/images/brainexplorer_about.png" />
    </div>

    <div class="project-team">
        <h3>Team</h3>
        <p>Samuel Clay (Robert Klayman), Tina Do, Ivy Chung</p>
    </div>

    <a href="/" class="back-button back-button-bottom">← Back to Everything</a>
</div>

<div id="bottombar"></div>
{% endblock %}
