{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    
    <div id="nav">
      &laquo; <a href="{% url "index" %}" class="subtitle">Back to Everything</a>
    </div>
      
    <div class="header">
      <div class="title">The Brain Explorer</div>
    </div>
    <div class="content block-intro">
        <ul>
            <li class="last">
                In high school, I led an international team to build this educational site. Won as a semi-finalist in the ThinkQuest 2001 competition.
                <small>1999 - 2001</small>
            </li>
        </ul>
    </div>
    
    <div class="header">Screenshot</div>
    <div class="content block-projects">
      <img src="/static/images/brainexplorer.png" width="575" class="screenshot" />
      <div class="screenshot-gallery">
        <a class="screenshot-thumb" data-full-src="/static/images/brainexplorer.png"><img src="/static/images/brainexplorer.png" alt="Brain Explorer landing"></a>
        <a class="screenshot-thumb" data-full-src="/static/images/brainexplorer_home.png"><img src="/static/images/brainexplorer_home.png" alt="Brain Explorer home"></a>
        <a class="screenshot-thumb" data-full-src="/static/images/brainexplorer_brain.png"><img src="/static/images/brainexplorer_brain.png" alt="The Whole Brain"></a>
        <a class="screenshot-thumb" data-full-src="/static/images/brainexplorer_mind.png"><img src="/static/images/brainexplorer_mind.png" alt="The Whole Mind"></a>
        <a class="screenshot-thumb" data-full-src="/static/images/brainexplorer_about.png"><img src="/static/images/brainexplorer_about.png" alt="About"></a>
      </div>
    </div>
    
    
    <div class="header">Team</div>
    <div class="content block-press">
      Samuel Clay (Robert Klayman), Tina Do, Ivy Chung
    </div>
    
    <div id="bottom_nav">
      &laquo; <a href="{% url "index" %}" class="subtitle">Back to Everything</a>
    </div>

    <div class="background-inner"></div>
    <div class="background-outer"></div>
    
</div>

<div id="bottombar"></div>
{% endblock %}