{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper">
    
    <div id="nav">
      &laquo; <a href="{% url index %}" class="subtitle">Samuel Clay</a>
    </div>
      
    <div class="header">
      <div class="title">CaseLife</div>
    </div>
    <div class="content block-intro">
        <ul>
            <li class="last">
                Student group communications systems built for campus groups in <code>PHP</code>.
                <small>2006 - 2007</small>
            </li>
        </ul>
    </div>
    
    <div class="header">Screenshot</div>
    <div class="content block-projects">
      <img src="/static/images/caselife_main.png" width="575" height="439" />
    </div>
    
    
    <div class="header">Calendar Close-up</div>
    <div class="content block-code">
      <img src="/static/images/caselife_calendar.png" width="575" height="536" />
    </div>
    
    
    <div class="header">Background Survey</div>
    <div class="content block-photos block-caselife">
      <img src="/static/images/caselife_stats_1.png" width="575" height="397" />
      <img src="/static/images/caselife_stats_2.png" width="575" height="415" />
      <img src="/static/images/caselife_stats_3.png" width="575" height="485" class="last" />
    </div>
    
    
    <div class="header">Campus Flyer</div>
    <div class="content block-blog">
      <img src="/static/images/caselife_flyer_1.jpg" width="575" height="889" />
    </div>
    
    
    <div class="header">Team</div>
    <div class="content block-twitter">
      Samuel Clay, Michael Gregory, Chris Neiger, James Vogel, Andy Podgurski (Advisor)
    </div>

    
    <div class="header"></div>
    <div class="content block-twitter">
      
    </div>
    
    
    <div class="header"></div>
    <div class="content block-blog">
      
    </div>
    
    <div id="bottom_nav">
      &laquo; <a href="{% url index %}" class="subtitle">Samuel Clay</a>
    </div>

    <div class="background-inner"></div>
    <div class="background-outer"></div>
  
</div>

<div id="bottombar"></div>
{% endblock %}