{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    <a href="/" class="back-button">← Back to Everything</a>

    <div class="project-detail-header">
        <h1>CaseLife</h1>
        <p class="project-description">Student group communications systems built for campus groups in <code>PHP</code>.</p>
        <small>2006 - 2007</small>
    </div>

    <div class="project-screenshots">
        <img src="/static/images/caselife_main.png" />
        <img src="/static/images/caselife_calendar.png" />
        <img src="/static/images/caselife_stats_1.png" />
        <img src="/static/images/caselife_stats_2.png" />
        <img src="/static/images/caselife_stats_3.png" />
        <img src="/static/images/caselife_flyer_1.jpg" />
    </div>

    <div class="project-team">
        <h3>Team</h3>
        <p>Samuel Clay, Michael Gregory, Chris Neiger, James Vogel, Andy Podgurski (Advisor)</p>
    </div>

    <a href="/" class="back-button back-button-bottom">← Back to Portfolio</a>
</div>

<div id="bottombar"></div>
{% endblock %}