{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">

    <div class="header">
      <div class="title">Comfort Maps</div>
    </div>
    <div class="content block-intro">
        <ul>
            <li class="last">
                Comfort Maps make safer streets. Turn your two-wheeled commute into a call for action.
                <small>2020</small>
            </li>
        </ul>
    </div>

    <div class="header"></div>
    <div class="content block-1">
      <img src="/static/images/comfortmaps/clay-samuel-mde-1.jpg" width="575" />
    </div>

    <div class="header"></div>
    <div class="content block-2">
      <img src="/static/images/comfortmaps/clay-samuel-mde-2.jpg" width="575" />
    </div>

    <div class="header"></div>
    <div class="content block-3">
      <img src="/static/images/comfortmaps/clay-samuel-mde-3.jpg" width="575" />
    </div>

    <div class="header"></div>
    <div class="content block-4">
      <img src="/static/images/comfortmaps/clay-samuel-mde-4.jpg" width="575" />
    </div>

    <div class="header"></div>
    <div class="content block-5">
      <img src="/static/images/comfortmaps/clay-samuel-mde-5.jpg" width="575" />
    </div>

    <div class="background-inner"></div>
    <div class="background-outer"></div>

</div>

<div id="bottombar"></div>
{% endblock %}
