{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    <a href="/" class="back-button">← Back to Everything</a>

    <div class="project-detail-header">
        <h1>DonationParty</h1>
        <p class="project-description">Invite friends to donate a randomly selected amount (up to $10) to charity and one lucky winner will receive something awesome from Amazon.</p>
        <small>2012</small>
    </div>

    <div class="project-screenshots">
        <img src="/static/images/donationparty_1.png" />
        <img src="/static/images/donationparty_2.png" />
        <img src="/static/images/donationparty_3.png" />
        <img src="/static/images/donationparty_4.png" />
    </div>

    <a href="/" class="back-button back-button-bottom">← Back to Everything</a>
</div>

<div id="bottombar"></div>
{% endblock %}
