{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    
    <div class="header">
      <div class="title">DonationParty</div>
    </div>
    <div class="content block-intro">
        <ul>
            <li class="last">
                Invite friends to donate a randomly selected amount (up to $10) to charity and one lucky winner will receive something awesome from Amazon.
                <small>2012</small>
            </li>
        </ul>
    </div>

    <div class="header"></div>
    <div class="content block-1">
      <img src="/static/images/donationparty_1.png" width="575" />
    </div>

    <div class="header"></div>
    <div class="content block-2">
      <img src="/static/images/donationparty_2.png" width="575" />
    </div>

    <div class="header"></div>
    <div class="content block-3">
      <img src="/static/images/donationparty_3.png" width="575" />
    </div>

    <div class="header"></div>
    <div class="content block-4">
      <img src="/static/images/donationparty_4.png" width="575" />
    </div>

    <div class="background-inner"></div>
    <div class="background-outer"></div>

</div>

<div id="bottombar"></div>
{% endblock %}