{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class=" ">
    <div class="name-header">
        <a href="mailto:samuel@ofbrooklyn.com">Samuel Clay</a> 
        <div class="name-header-text">
            {{ isa_quote|safe }}
        </div>
    </div>
    
    <div class="header">
      <div class="title">A visual</div>
    </div>
    <div class="content block-photo">
        <img src="{{ MEDIA_URL }}images/Campeche Steps.jpg" width="450" height="368">
    </div>
    
    <div class="header">
      <div class="title">For a Living</div>
    </div>
    <div class="content block-work">
        <ul>
            <li>
                <strong><a href="http://www.newsblur.com">NewsBlur</a>:</strong> A personal news reader that brings people together to talk about the world. A new sound of an old instrument.
                <small>2009 - 2014</small>
            </li>
            <li>
                <strong><a href="http://www.turntouch.com">Turn Touch</a>:</strong> Hardware for the home. First is a remote control for the Mac that controls custom-built apps.
                <small>2013 - 2014</small>
            </li>
        </ul>
    </div>

    <div class="header">
      <div class="title">Current Projects</div>
      <div class="header-photo">
        <a href="http://en.wikipedia.org/wiki/Hacker_(programmer_subculture)">
          <img src="{{ MEDIA_URL }}images/glider.png" width="62" height="62" />
        </a>
      </div>
    </div>
    <div class="content block-projects">
        <ul>
            <li>
                <strong><a href="http://samuel.newsblur.com">Blurblog</a>:</strong> My shared stories on NewsBlur.
                <small>2012 - 2014</small>
            </li>
            {# <li> #}
            {#     <strong><a href="http://www.turntouch.com">The Do Club</a>:</strong> <i>Secret project in the works...</i> #}
            {#     <small>2014</small> #}
            {# </li> #}
            <li>
                <strong><a href="https://github.com/samuelclay/HACKERSMACKER">Hacker Smacker</a>:</strong> Browser extension used to friend and foe individual writers on Hacker News.
                <small>2012 - 2014</small>
            </li>
            <li>
                <strong><a href="http://www.ofbrooklyn.com">ofBrooklyn.com</a>:</strong> A blog as a public record of my work.
                <small>2007 - 2014</small>
            </li>
            <li>
                <strong><a href="http://documentcloud.github.com/visualsearch">VisualSearch.js</a>:</strong> A faceted search box for real data.
                <small>2011 - 2014</small>
            </li>
        </ul>
    </div>
        
    <div class="header">Past Projects</div>
    <div class="content block-past-projects">
        <ul>
            <li class="">
                <strong><a href="http://www.donationparty.com">DonationParty</a>:</strong> Invite friends to donate a randomly selected amount (up to $10) to charity and one lucky winner will receive something awesome from Amazon.
                <small>2012</small>
            </li>
            <li>
                <strong><a href="http://www.newyorkfieldguide.com">New York Field Guide</a>:</strong> An ongoing photoblog of New York City's 90 historic districts. Each photo taken using a Panasonic Lumix GF1 with a 20mm f/1.7 lens.
                <small>2010 - 2012</small>
            </li>
            <li class="">
                <strong><a href="http://www.documentcloud.org">DocumentCloud</a>:</strong> The future of journalism is transparency. Funded by the Knight Foundation. Contributor to <a href="http://documentcloud.github.com/backbone">Backbone.js</a>, <a href="http://documentcloud.github.com/underscore">Underscore.js</a>, and much <a href="http://github.com/documentcloud">open-source software</a>.
                <small>2010 - 2011</small>
            </li>
            <li>
                <strong><a href="http://storybird.com">Storybird</a>:</strong> Collaborative storytelling. We're a young publishing house with no roof. 
                <small>2009 - 2011</small>
            </li>
            <li>
                <strong><a href="http://www.svgopen.org/2009/registration.php?section=workshops#Using_Raphael_Javascript_Library_to_write_cross-browser_interactive_SVG_and_VML">Raphaël Vector Library</a>:</strong>
                A cross-browser <code>JavaScript</code> vector graphics library. I presented my minor contributions and the library with this paper and workshop at SVG Open 2009 at Google in California. <a href="/raphael/presentation/index.html">Presentation</a> and <a href="/raphael/svg_open_paper.pdf">Paper (PDF)</a>.
                <small>2009</small>
            </li>
            <li>
                <strong><a href="{% url "sunraylab" %}">SunRayLab</a>:</strong> A CMS for projects. Originally built to connect creative people together to work on projects. <code>PHP</code>, sadly.
                <small>2007 - 2008</small>
            </li>
            <li>
                <strong><a href="{% url "caselife" %}">CaseLife</a>:</strong> Student group communications systems built for campus groups in <code>PHP</code>.
                <small>2006 - 2007</small>
            </li>
            <li>
                <strong><a href="{% url "schedulerjones" %}">Scheduler Jones</a>:</strong> A graphical scheduling application for students to plan and share their next semester schedule, written with <code>Microsoft Visual C++</code>.
                <small>2003 - 2007</small>
            </li>
            <li class="last">
                <strong><a href="http://library.thinkquest.org/C0110299">The Brain Explorer</a>:</strong> In high school, I led an international team to build this educational site. Won as a semi-finalist in the ThinkQuest 2001 competition.
                <small>1999 - 2001</small>
            </li>
        </ul>
    </div>
    
    <div class="header">
    
      <div class="header-text"><a href="http://github.com/samuelclay">Code</a></div>
      <div class="header-photo header-photo-borderless">
        <a href="http://github.com/samuelclay">
          <img src="{{ MEDIA_URL }}images/github-logo.png" width="73" height="73" />
        </a>
      </div>
        
    </div>
    <div class="content block-code">
        <ul>
            <li>
                <strong><a href="http://github.com/samuelclay/newsblur">NewsBlur <span class="github">on GitHub</span></a>:</strong> The Django/Python code that powers the intelligent visual feed reader.
                <small>2009 - 2014</small>
            </li>
            <li>
                <strong><a href="http://github.com/documentcloud/visualsearch">VisualSearch.js <span class="github">on GitHub</span></a>:</strong> Creator of a JavaScript library that creates an auto-completing faceted search box.
                <small>2011 - 2014</small>
            </li>
            <li>
                <strong><a href="http://github.com/samuelclay/HACKERSMACKER">HACKERSMACKER <span class="github">on GitHub</span></a>:</strong> Built this browser extension with Node.js and Redis for finding graph connections between comment authors (friend of a friend).
                <small>2012 - 2014</small>
            </li>
            <li>
                <strong><a href="http://github.com/samuelclay/donationparty">DonationParty <span class="github">on GitHub</span></a>:</strong> A four-man team working over two hackathons to create this fun Django-based charity donation site.
                <small>2012 - 2013</small>
            </li>
            <li>
                <strong><a href="http://github.com/thedoclub/thedoclub">The Do Club <span class="github">on GitHub</span></a>:</strong> A two-man team built this presentation and event system for hackers to showcase their work.
                <small>2013</small>
            </li>
            <li>
                <strong><a href="https://github.com/documentcloud/backbone/commits/master?author=samuelclay">Backbone.js <span class="github">on GitHub</span></a>:</strong> Contributor to this popular JavaScript library for creating model, view, collections, and tying them together with events.
                <small>2010 - 2011</small>
            </li>
            <li>
                <strong><a href="https://github.com/documentcloud/underscore/commits/master?author=samuelclay">Underscore.js <span class="github">on GitHub</span></a>:</strong> Contributor to this popular JavaScript library used as a general toolkit. Based off of functional programming patterns.
                <small>2010 - 2011</small>
            </li>
            <li>
                <strong><a href="https://github.com/mongoengine/mongoengine/commits/master?author=samuelclay">Mongoengine <span class="github">on GitHub</span></a>:</strong> Contributor to this popular Python framework/ORM for MongoDB.
                <small>2010 - 2011</small>
            </li>
            <li>
                <strong><a href="https://github.com/documentcloud/document-viewer/commits/master?author=samuelclay">DocumentViewer.js <span class="github">on GitHub</span></a>:</strong> Major contributor to this JavaScript library used to embed PDFs as images on a website.
                <small>2010 - 2011</small>
            </li>
            <li>
                <strong><a href="http://github.com/samuelclay/newyorkfieldguide">New York Field Guide <span class="github">on GitHub</span></a>:</strong> A stylish photoblog with annotations and per-photo commenting.
                <small>2010</small>
            </li>
            <li>
                <strong><a href="http://github.com/samuelclay/samuelclay">samuelclay.com <span class="github">on GitHub</span></a>:</strong> The code that runs this site here.
                <small>2009 - 2010</small>
            </li>
            <li>
                <strong><a href="http://github.com/samuelclay/raphael">Raphaël JavaScript Library <span class="github">on GitHub</span></a>:</strong> My minor contributions to the Raphaël library are found on GitHub.
                <small>2009</small>
            </li>
            <li class="last">
                <strong><a href="http://github.com/samuelclay/raphael-easing">Raphaël animation easing formulas <span class="github">on GitHub</span></a>:</strong> Additional formulas used in animation easing in Raphaël. Includes easeInOutQuad to easeInOutQuint, bounces, elastic, and even easeInOutCirc.
                <small>2009</small>
            </li>
        </ul>
    </div>
    
    <div class="header">
      <div class="header-text"><a href="http://flickr.com/photos/conesus/">Photos</a></div>
    
      <div class="header-photo header-photo-borderless">
        <a href="http://flickr.com/photos/conesus/">
          <img src="{{ MEDIA_URL }}images/flickr-logo.png" width="50" height="50" />
        </a>
      </div>  
    </div>
    <div class="content block-photos">
      {% for photo in photos|slice:":48" %}
        <a href="{{ photo.photopage_url }}"><img src="{{ photo.get_square_url }}" title="{{ photo.title }}" alt="{{ photo.title }}" /></a>
      {% endfor %}
    </div>
    <div class="header">
      <div class="header-text"><a href="http://www.ofbrooklyn.com">ofBrooklyn.com</a><br />Blog</div>
    
      <div class="header-photo">
        <a href="http://www.ofbrooklyn.com">
          <img src="http://farm5.static.flickr.com/4005/4482046088_682023dde7_s.jpg" width="75" height="75" />
        </a>
      </div>
        
    </div>
    <div class="content block-blog">
        <ul class="blog">
            {% for entry in blog_entries %}
                <li {% if forloop.last %}class="last"{% endif %}>
                    <strong><a href="{{ entry.link }}">{{ entry.title|safe }}</a></strong>
                    <small>{{ entry.updated_parsed|date:"F jS, Y" }}</small>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="header">
      <div class="header-text"><a href="http://twitter.com/samuelclay">@samuelclay</a><br />on Twitter</div>
      <div class="header-photo">
        <a href="http://twitter.com/samuelclay">
          <img src="http://static.newsblur.com.s3.amazonaws.com/ofbrooklyn/Campeche%20Steps.jpg" width="75" height="62" />
        </a>
      </div>
    </div>
    <div class="content block-twitter">
        <ul class="tweets">
            {% for tweet in tweets %}
                <li {% if forloop.last %}class="last"{% endif %}>
                    {{ tweet.text|safe|urlize|linebreaksbr }}
                    <small>
                        <a href="https://twitter.com/samuelclay/status/{{ tweet.id }}">{{ tweet.relative_created_at }}</a>
                    </small>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    
    <div class="header">
        <div class="title">Press</div>
    </div>
    <div class="content block-press">
        <ul class="press">
            <li>
                <strong>
                    <img src="http://0.gravatar.com/blavatar/4f3e6b6daa090af416a1ba595885efd1?s=16">
                    Hack a Day: 
                    <a href="http://hackaday.com/2014/01/15/a-light-up-dress-for-a-new-years-dance-party/">
                        A Light-Up Dress for a New Year’s Dance Party
                    </a>
                </strong> 
                by Josh marsh
                <small>January 15th, 2014</small>
            </li>
            <li>
                <strong>
                    <img src="http://lifehacker.com/favicon.ico">
                    Lifehacker: 
                    <a href="http://lifehacker.com/build-a-smarter-digital-photo-frame-with-a-raspberry-pi-1495565726">
                        Build a Smarter Digital Photo Frame with a Raspberry Pi
                    </a>
                </strong> 
                by Thorin Klosowski
                <small>January 6th, 2014</small>
            </li>
            <li>
                <strong>
                    <img src="http://0.gravatar.com/blavatar/4f3e6b6daa090af416a1ba595885efd1?s=16">
                    Hack a Day: 
                    <a href="http://hackaday.com/2014/01/04/building-a-raspberry-pi-digital-photo-frame/">
                        Building a Raspberry PI Digital Photo Frame
                    </a>
                </strong> 
                by Kevin Darrah
                <small>January 4th, 2014</small>
            </li>
            <li>
                <strong>
                    <img src="http://www.adafruit.com/favicon.ico">
                    Adafruit:
                    <a href="http://www.adafruit.com/blog/2014/01/03/building-a-living-photo-frame-with-a-raspberry-pi-and-a-motion-detector-raspberry_pi-piday-raspberrypi/">
                        Building a living photo frame with a Raspberry Pi and a motion detector
                    </a>
                </strong> 
                by Jessica Califano
                <small>January 3rd, 2014</small>
            </li>
            <li>
                <strong>
                    <img src="http://0.gravatar.com/blavatar/ad5b2a2b10ddd8fc4e4588abd4e12a84?s=16">
                    TechCrunch:
                    <a href="http://techcrunch.com/2013/12/31/the-best-ios-and-android-apps-of-2013/">
                        The Best iOS And Android Apps Of 2013 - NewsBlur
                    </a>
                </strong> 
                by Greg Kumparak
                <small>December 31st, 2013</small>
            </li>
            <li>
                <strong>
                    <img src="http://www.pcworld.com/www.idgcsmb.pcw/favicon.ico">
                    PCWorld: 
                    <a href="http://www.pcworld.com/article/2041011/review-newsblur-is-a-worthy-powerful-google-reader-replacement.html">
                        NewsBlur is a worthy, powerful Google Reader replacement
                    </a>
                </strong> 
                by Erez Zukerman
                <small>June 24th, 2013</small>
            </li>
            <li>
                <strong>
                    <img src="http://cdn1.sbnation.com/images/verge/favicon.vc44a54f.ico">
                    The Verge: 
                    <a href="http://www.theverge.com/2013/5/21/4350208/how-sam-clay-and-newsblur-survived-the-google-reader-shutdown-redesign">
                        NewsBlur, flush with Google Reader refugees, rolls out redesign
                    </a>
                </strong> 
                by Adrianne Jeffries
                <small>May 21st, 2013</small>
            </li>
            <li>
                <strong>
                    <img src="http://www.wired.com/wp-content/vendor/condenast/pangea/themes/wired/assets/images/favicon.ico">
                    Wired: 
                    <a href="http://www.webmonkey.com/2013/03/scaling-on-a-shoestring-lessons-from-newsblur/">
                        Scaling on a Shoestring, Lessons from NewsBlur
                    </a>
                </strong> 
                by Scott Gilbertson
                <small>March 20th, 2013</small>
            </li>
            <li>
                <strong>
                    <img src="http://0.gravatar.com/blavatar/6a5449d7551fc1e8f149b0920ca4b6f6?s=16">
                    VentureBeat: 
                    <a href="http://venturebeat.com/2012/09/05/newsblur-ipad/">
                        NewsBlur launches iPad app, aims to compete with Google Reader (exclusive)
                    </a>
                </strong> 
                by Christina Farr
                <small>September 5th, 2012</small>
            </li>
        </ul>
    </div>
  <div class="background-inner"></div>
  <div class="background-outer"></div>

</div>

<div id="bottombar"></div>
{% endblock %}