{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    
    <div id="nav">
      &laquo; <a href="{% url "index" %}" class="subtitle">Back to Everything</a>
    </div>
      
    <div class="header">
      <div class="title">Kickpoint</div>
    </div>
    <div class="content block-intro">
        <ul>
            <li class="last">
                A device that allows for governments to provide a temporary infrastructure for citizens to communicate with their loved ones after natural disasters.
                <small>2018</small>
            </li>
        </ul>
    </div>
    
    <div class="header"></div>
    <div class="content block-1">
      <img src="/static/images/kickpoint-5.png" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-2">
      <img src="/static/images/kickpoint-6.png" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-3">
      <img src="/static/images/kickpoint-7.png" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-4">
      <img src="/static/images/kickpoint-8.png" width="575" />
    </div>
    
    <div class="header"></div>
    <div class="content block-5">
      <img src="/static/images/kickpoint-1.jpg" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-6">
      <img src="/static/images/kickpoint-2.jpg" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-7">
      <img src="/static/images/kickpoint-3.jpg" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-8">
      <img src="/static/images/kickpoint-4.jpg" width="575" />
    </div>
        
    <div id="bottom_nav">
      &laquo; <a href="{% url "index" %}" class="subtitle">Back to Everything</a>
    </div>

    <div class="background-inner"></div>
    <div class="background-outer"></div>

</div>

<div id="bottombar"></div>
{% endblock %}