{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    <a href="/" class="back-button">← Back to Everything</a>

    <div class="project-detail-header">
        <h1>New York Field Guide</h1>
        <p class="project-description">A photoblog of New York City's 90 historic districts. Each photo taken using a Panasonic Lumix GF1 with a 20mm f/1.7 lens.</p>
        <small>2010 - 2012</small>
    </div>

    <div class="project-screenshots">
        <img src="/static/images/nyfg1.jpg" />
        <img src="/static/images/nyfg2.jpg" />
        <img src="/static/images/nyfg3.jpg" />
        <img src="/static/images/nyfg4.jpg" />
        <img src="/static/images/nyfg5.jpg" />
    </div>

    <a href="/" class="back-button back-button-bottom">← Back to Everything</a>
</div>

<div id="bottombar"></div>
{% endblock %}
