{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    
    <div id="nav">
      &laquo; <a href="{% url "index" %}" class="subtitle">Back to Everything</a>
    </div>
      
    <div class="header">
      <div class="title">New York Field Guide</div>
    </div>
    <div class="content block-intro">
        <ul>
            <li class="last">
                A photoblog of New York City's 90 historic districts. Each photo taken using
                    a Panasonic Lumix GF1 with a 20mm f/1.7 lens.
                <small>2010 - 2012</small>
            </li>
        </ul>
    </div>
    
    <div class="header"></div>
    <div class="content block-1">
      <img src="/static/images/nyfg1.jpg" width="575" />
    </div>
    <div class="content block-2">
      <img src="/static/images/nyfg2.jpg" width="575" />
    </div>
    <div class="content block-3">
      <img src="/static/images/nyfg3.jpg" width="575" />
    </div>
    <div class="content block-4">
      <img src="/static/images/nyfg4.jpg" width="575" />
    </div>
    <div class="content block-5">
      <img src="/static/images/nyfg5.jpg" width="575" />
    </div>
        
        
    <div id="bottom_nav">
      &laquo; <a href="{% url "index" %}" class="subtitle">Back to Everything</a>
    </div>

    <div class="background-inner"></div>
    <div class="background-outer"></div>

</div>

<div id="bottombar"></div>
{% endblock %}
