{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    
    <div class="header">
      <div class="title">Podlife</div>
    </div>
    <div class="content block-intro">
        <ul>
            <li class="last">
                An augmented reality app that demoed a series of self-driving pods, part of a conceptual network envisioning the future of commuting.
                <small>2018</small>
            </li>
        </ul>
    </div>
    
    <div class="header"></div>
    <div class="content block-1">
      <img src="/static/images/podlife-12.png" width="575" />
    </div>
    
    <div class="header"></div>
    <div class="content block-2">
      <img src="/static/images/podlife-1.jpg" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-3">
      <img src="/static/images/podlife-2.jpg" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-4">
      <img src="/static/images/podlife-3.jpg" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-5">
      <img src="/static/images/podlife-4.jpg" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-6">
      <img src="/static/images/podlife-5.jpg" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-7">
      <img src="/static/images/podlife-6.jpg" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-8">
      <img src="/static/images/podlife-7.jpg" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-9">
      <img src="/static/images/podlife-8.jpg" width="575" />
    </div>
        
    <!-- <div class="header"></div>
    <div class="content">
      <img src="/static/images/podlife-9.jpg" width="575" />
    </div> -->
        
    <div class="header"></div>
    <div class="content block-10">
      <img src="/static/images/podlife-10.jpg" width="575" />
    </div>
        
    <div class="header"></div>
    <div class="content block-10">
      <img src="/static/images/podlife-11.jpg" width="575" />
    </div>

    <div class="background-inner"></div>
    <div class="background-outer"></div>

</div>

<div id="bottombar"></div>
{% endblock %}