{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    <a href="/" class="back-button">← Back to Everything</a>

    <div class="project-detail-header">
        <h1>Podlife</h1>
        <p class="project-description">An augmented reality app that demoed a series of self-driving pods, part of a conceptual network envisioning the future of commuting.</p>
        <small>2018</small>
    </div>

    <div class="project-screenshots">
        <img src="/static/images/podlife-12.png" />
        <img src="/static/images/podlife-1.jpg" />
        <img src="/static/images/podlife-2.jpg" />
        <img src="/static/images/podlife-3.jpg" />
        <img src="/static/images/podlife-4.jpg" />
        <img src="/static/images/podlife-5.jpg" />
        <img src="/static/images/podlife-6.jpg" />
        <img src="/static/images/podlife-7.jpg" />
        <img src="/static/images/podlife-10.jpg" />
        <img src="/static/images/podlife-11.jpg" />
    </div>

    <a href="/" class="back-button back-button-bottom">← Back to Everything</a>
</div>

<div id="bottombar"></div>
{% endblock %}
