{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    
    <div id="nav">
      &laquo; <a href="{% url "index" %}" class="subtitle">Back to Everything</a>
    </div>
      
    <div class="header">
      <div class="title">SunRayLab</div>
    </div>
    <div class="content block-intro">
        <ul>
            <li class="last">
                A CMS for projects. Originally built to connect creative people together to work on projects. <code>PHP</code>, but I know better now.
                <small>2007 - 2008</small>
            </li>
        </ul>
    </div>
    
    <div class="header">Screenshot</div>
    <div class="content block-projects">
      <img src="/static/images/sunraylab_collaborate.png" width="575" class="screenshot" />
      <div class="screenshot-gallery">
        <a class="screenshot-thumb" data-full-src="/static/images/sunraylab_collaborate.png"><img src="/static/images/sunraylab_collaborate.png" alt="Project Home"></a>
        <a class="screenshot-thumb" data-full-src="/static/images/sunraylab_profile.png"><img src="/static/images/sunraylab_profile.png" alt="Profiles"></a>
        <a class="screenshot-thumb" data-full-src="/static/images/sunraylab_blog.png"><img src="/static/images/sunraylab_blog.png" alt="SunRayLab Blog"></a>
        <a class="screenshot-thumb" data-full-src="/static/images/sunraylab_create.png"><img src="/static/images/sunraylab_create.png" alt="Account Creation"></a>
        <a class="screenshot-thumb" data-full-src="/static/images/sunraylab_home.png"><img src="/static/images/sunraylab_home.png" alt="Landing Page"></a>
      </div>
    </div>
    
    <div id="bottom_nav">
      &laquo; <a href="{% url "index" %}" class="subtitle">Back to Everything</a>
    </div>

    <div class="background-inner"></div>
    <div class="background-outer"></div>

</div>

<div id="bottombar"></div>
{% endblock %}