{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    
    <div class="header">
      <div class="title">SunRayLab</div>
    </div>
    <div class="content block-intro">
        <ul>
            <li class="last">
                A CMS for projects. Originally built to connect creative people together to work on projects. <code>PHP</code>, but I know better now.
                <small>2007 - 2008</small>
            </li>
        </ul>
    </div>

    <div class="header"></div>
    <div class="content block-1">
      <img src="/static/images/sunraylab_collaborate.png" width="575" />
    </div>

    <div class="header"></div>
    <div class="content block-2">
      <img src="/static/images/sunraylab_profile.png" width="575" />
    </div>

    <div class="header"></div>
    <div class="content block-3">
      <img src="/static/images/sunraylab_blog.png" width="575" />
    </div>

    <div class="header"></div>
    <div class="content block-4">
      <img src="/static/images/sunraylab_create.png" width="575" />
    </div>

    <div class="header"></div>
    <div class="content block-5">
      <img src="/static/images/sunraylab_home.png" width="575" />
    </div>

    <div class="background-inner"></div>
    <div class="background-outer"></div>

</div>

<div id="bottombar"></div>
{% endblock %}