{% extends "base.html" %}

{% block content %}
<div id="topbar"></div>

<div id="wrapper" class="subview">
    <a href="/" class="back-button">← Back to Everything</a>

    <div class="project-detail-header">
        <h1>SunRayLab</h1>
        <p class="project-description">A CMS for projects. Originally built to connect creative people together to work on projects. <code>PHP</code>, but I know better now.</p>
        <small>2007 - 2008</small>
    </div>

    <div class="project-screenshots">
        <img src="/static/images/sunraylab_collaborate.png" />
        <img src="/static/images/sunraylab_profile.png" />
        <img src="/static/images/sunraylab_blog.png" />
        <img src="/static/images/sunraylab_create.png" />
        <img src="/static/images/sunraylab_home.png" />
    </div>

    <a href="/" class="back-button back-button-bottom">← Back to Portfolio</a>
</div>

<div id="bottombar"></div>
{% endblock %}